    a {color: blue;}
    a.toggle-vis.active {color :purple;}
    a.toggle-vis.visited {color : blue;}
    .select-info {
        visibility : hidden;
    }
    #assemblyCounts-chart .x.axis text {
        text-anchor: end !important;
        font-weight: bold;
        transform: rotate(-30deg);
    }
    #genomicCounts-chart .x.axis text {
        text-anchor: end !important;
        font-weight: bold;
        transform: rotate(-30deg);
    }
    #markerCounts-chart .x.axis text {
        text-anchor: end !important;
        font-weight: bold;
        transform: rotate(-30deg);
    }
    .chart {
        display: block;
        margin: auto;
        margin-top: 40px;
        font-size: 14px;
    }
