    a {color: blue;}
    a.toggle-vis.active {color :purple;}
    a.toggle-vis.visited {color : blue;}
    .select-info {
        visibility : hidden;
    }
    #customHistogram-1 .x.axis text {
        text-anchor: end !important;
        font-weight: bold;
        transform: rotate(-30deg);
    }
    #customScatter-1 .x.axis text {
        text-anchor: end !important;
        font-weight: bold;
        transform: rotate(-30deg);
    }
    #customHistogram-1 .x.axis line {
        display : none;
    }
    #test-composite .svg {
        display : none;
    }
    .chart {
        display: block;
        margin: auto;
        margin-top: 40px;
        font-size: 14px;
    }
