{% extends "templates/body.jinja" %}
{% block javascript %}
    <script>
        {% include 'js/color_anchors.js' %}
        var feature_counts = crossfilter({{ data.json_data }});
        var feature_header = {{ data.json_header }};
        var feature_table_data = {{ data.json_table_data }};
        var partition_data = {{ data.json_partition_data }};
        {% include 'js/organism_features_wgenus.js' %}
        {% include 'js/partition_helpers.js' %}
    </script>
{% endblock %}            
